# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

**/order-service/src/main/resources/*
**/product-service/src/main/resources/*
**/user-service/src/main/resources/*
!**/order-service/src/main/resources/application.yml
!**/product-service/src/main/resources/application.yml
!**/user-service/src/main/resources/application.yml
!**/order-service/src/main/resources/application-docker.yml
!**/product-service/src/main/resources/application-docker.yml
!**/user-service/src/main/resources/application-docker.yml
.idea/
.env
*.key
.dockerignore

