services:
  mysql:
    ports:
      - "3307:3306"
    image: mysql:8.3
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 2s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_ecommerce_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_ecommerce_data:/data
    command: redis-server --appendonly yes

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      # KRaft mode
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER

      # Listeners
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092

      # Single-node dev defaults
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
      - KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR=1

      # Allow plaintext
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - kafka_ecommerce_data:/bitnami/kafka

  user-service:
    ports:
      - "8080:8080"
    build: ./user-service
    environment:
      DB_URL: jdbc:mysql://mysql:3306/user_db
      DB_USERNAME: user_user
      DB_PASSWORD: ${MYSQL_PASSWORD}
      #ORDER_SERVICE_CLIENT_SECRET: ${ORDER_SERVICE_CLIENT_SECRET}
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./secrets/jwt/private.key:/run/secrets/jwt-private.key:ro
      - ./secrets/jwt/public.key:/run/secrets/jwt-public.key:ro
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started


  product-service:
    ports:
      - "8081:8080"
    build: ./product-service
    environment:
      DB_URL: jdbc:mysql://mysql:3306/product_db
      DB_USERNAME: product_user
      DB_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./secrets/jwt/public.key:/run/secrets/jwt-public.key:ro
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started

  order-service:
    ports:
      - "8082:8080"
    build: ./order-service
    environment:
      DB_URL: jdbc:mysql://mysql:3306/order_db
      DB_USERNAME: order_user
      DB_PASSWORD: ${MYSQL_PASSWORD}
      PRODUCT_SERVICE_URL: http://product-service:8080
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./secrets/jwt/public.key:/run/secrets/jwt-public.key:ro
    depends_on:
      mysql:
        condition: service_healthy
      product-service:
        condition: service_started
      kafka:
        condition: service_started

volumes:
  mysql_ecommerce_data:
  redis_ecommerce_data:
  kafka_ecommerce_data:
