services:
  mysql:
    ports:
      - "3307:3306"
    image: mysql:8.3
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 2s
      retries: 10
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_ecommerce_data:/var/lib/mysql
      - ./db-init:/docker-entrypoint-initdb.d

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_ecommerce_data:/data
    command: redis-server --appendonly yes

  kafka:
    image: apache/kafka:3.7.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

    volumes:
      - kafka_ecommerce_data:/var/lib/kafka/data
      - kafka_ecommerce_data:/etc/kafka/secrets
      - kafka_ecommerce_data:/mnt/shared/config

  user-service:
    image: laikawu/user-service:latest
    ports:
      - "8080:8080"
    build:
      context: .
      dockerfile: user-service/Dockerfile
    environment:
      DB_URL: jdbc:mysql://mysql:3306/user_db
      DB_USERNAME: user_user
      DB_PASSWORD: ${MYSQL_PASSWORD}
      #ORDER_SERVICE_CLIENT_SECRET: ${ORDER_SERVICE_CLIENT_SECRET}
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./secrets/jwt/private.key:/run/secrets/jwt-private.key:ro
      - ./secrets/jwt/public.key:/run/secrets/jwt-public.key:ro
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started


  product-service:
    image: laikawu/product-service:latest
    ports:
      - "8081:8080"
    build:
      context: .
      dockerfile: product-service/Dockerfile
    environment:
      DB_URL: jdbc:mysql://mysql:3306/product_db
      DB_USERNAME: product_user
      DB_PASSWORD: ${MYSQL_PASSWORD}
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./secrets/jwt/public.key:/run/secrets/jwt-public.key:ro
    depends_on:
      mysql:
        condition: service_healthy
      kafka:
        condition: service_started

  order-service:
    image: laikawu/order-service:latest
    ports:
      - "8082:8080"
    build:
      context: .
      dockerfile: order-service/Dockerfile
    environment:
      DB_URL: jdbc:mysql://mysql:3306/order_db
      DB_USERNAME: order_user
      DB_PASSWORD: ${MYSQL_PASSWORD}
      PRODUCT_SERVICE_URL: http://product-service:8080
      SPRING_PROFILES_ACTIVE: docker
    volumes:
      - ./secrets/jwt/public.key:/run/secrets/jwt-public.key:ro
    depends_on:
      mysql:
        condition: service_healthy
      product-service:
        condition: service_started
      kafka:
        condition: service_started

volumes:
  mysql_ecommerce_data:
  redis_ecommerce_data:
  kafka_ecommerce_data:
