version: "3.8"

services:
  user-service:
    image: "laikawu/user-service"
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ecs
      DB_URL: "jdbc:mysql://order-management-db.cluster-cazik4ikiplr.us-east-1.rds.amazonaws.com:3306/user_db"
      REDIS_HOST: "oms-redis-duvzle.serverless.use1.cache.amazonaws.com"
      REDIS_PORT: "6379"
    logging:
      driver: #TODO: awslogs
      options:
        awslogs-group: #TODO
        awslogs-region: <REGION> #TODO
        awslogs-stream-prefix: #TODO
    deploy:
      resources:
        limits:
          memory: 1024M
          cpus: "0.5"

  product-service:
    image: "laikawu/product-service"
    ports:
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ecs
      DB_URL: "jdbc:mysql://order-management-db.cluster-cazik4ikiplr.us-east-1.rds.amazonaws.com:3306/product_db"
      KAFKA_BOOTSTRAP_SERVERS: #TODO: bootstrap servers for MSK
    logging:
      driver: #TODO: awslogs
      options:
        awslogs-group: #TODO: awslogs/ecs/oms
        awslogs-region: #TODO: awslogs <REGION>
        awslogs-stream-prefix: #TODO: awslogs: product
    deploy:
      resources:
        limits:
          memory: 1024M
          cpus: "0.5"

  order-service:
    image: "laikawu/order-service"
    ports:
      - "8082:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ecs
      DB_URL: "jdbc:mysql://order-management-db.cluster-cazik4ikiplr.us-east-1.rds.amazonaws.com:3306/order_db"
      PRODUCT_SERVICE_URL: http://product-service:8080
      KAFKA_BOOTSTRAP_SERVERS: <MSK_BOOTSTRAP_BROKERS>
    logging:
      driver: awslogs
      options:
        awslogs-group: /ecs/oms
        awslogs-region: <REGION>
        awslogs-stream-prefix: order
    deploy:
      resources:
        limits:
          memory: 1024M
          cpus: "0.5"
