spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  sql:
    init:
      mode: always

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          #TODO
          public-key-location: file:${JWT_PUBLIC_KEY_PATH:/run/secrets/jwt-public.key}

product:
  service:
    url: ${PRODUCT_SERVICE_URL} #TODO

security:
  jwt:
    #TODO
    private-key: file:${JWT_PRIVATE_KEY_PATH:/run/secrets/jwt-private.key}
    access-token-expiration-minutes: 30

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.springframework.jdbc.datasource.init: INFO